<div class="hero-unit">
  <h1>Input Zip</h1>
  <p>To find legislators</p>
  <p>

  <form action="/results" method="GET">
  <input type="text" placeholder="zip code" name="zip"><br>
  <button class="btn">Search</button>
  </form>

  </p>
</div>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h2>Favorite Legislators</h2>
    <br>
    <% @favorites.each do |favorite| %>
      <% if favorite['party'] == "D" %>
        <div class="breadcrumb">
        <h4 class="blue"><%= favorite['firstname'] %> <%= favorite['lastname'] %></h4>
          <hr>
          <p>
            Phone: <%= favorite['phone'] %><br>
            State: <%= favorite['state'] %><br>
            Twitter: <%= favorite['twitter_id'] %><br>
            In Office: <%= favorite['in_office'] %><br>
            Votesmart ID: <%= favorite['votesmart_id'] %><br>
          </p>
        </div>
        <% elsif if favorite['party'] == "R" %>
          <div class="breadcrumb">
          <h4 class="red"><%= favorite['firstname'] %> <%= favorite['lastname'] %></h4>
            <hr>
            <p>
              Phone: <%= favorite['phone'] %><br>
              State: <%= favorite['state'] %><br>
              Twitter: <%= favorite['twitter_id'] %><br>
              In Office: <%= favorite['in_office'] %><br>
              Votesmart ID: <%= favorite['votesmart_id'] %><br>
          </p>
        </div>
          <% else %>
          <div class="breadcrumb">
            <h4 class="purple"><%= favorite['firstname'] %> <%= favorite['lastname'] %></h4>
              <hr>
              <p>
                Phone: <%= favorite['phone'] %><br>
                State: <%= favorite['state'] %><br>
                Twitter: <%= favorite['twitter_id'] %><br>
                In Office: <%= favorite['in_office'] %><br>
                Votesmart ID: <%= favorite['votesmart_id'] %><br>
              </p>
            </div>
          <% end %>
      <% end %>
    <% end %>

  </div>

</div>