<ul>
	<%@legislators.each do |legislator|%>
		<%=legislator.votesmart_id%>
		<h1><%=legislator.party%></h1>
		<%party = legislator.party%>
		<%coloring = ""%>
		<% if party == "R" %>
			<% coloring = 'red' %>
		<% elsif party == "D" %>
			<% coloring = 'blue' %>
		<% end %> 

		<h3 style = "color: <%=coloring%>">

			<%=legislator.firstname%> <%=legislator.lastname%>
		</h3>
		<form action = 'favorite/:votesmart_id' method = 'post'>
			<button value = "<%=legislator.votesmart_id%>" name = "votesmart_id"> Favorite </button>
		</form>
	<%end%>
</ul>
