<% if @legislator.party == "D" %>
  <h2 class="democrat_blue">
    <%= "#{@legislator.title}. #{@legislator.firstname} #{@legislator.lastname}" %>
  </h2>
<% elsif @legislator.party == "R" %>
  <h2 class="republican_red">
    <%= "#{@legislator.title}. #{@legislator.firstname} #{@legislator.lastname}" %>
  </h2>
<% else %>
  <h2 class="independent_purple">
    <%= "#{@legislator.title}. #{@legislator.firstname} #{@legislator.lastname}" %>
  </h2>
<% end %>

<ul>
  <li>Party:  <% if @legislator.party == "D" %>
                Democratic Party
              <% elsif @legislator.party == "R" %>
                Republican Party
              <% else %>
                Independent
              <% end %>
  </li>
  <li>Phone: <%= @legislator.phone %></li>
  <li>State: <%= @legislator.state %></li>
  <li>Twitter:  <% unless @legislator.twitter_id == "" %>
                  @<%= @legislator.twitter_id %>
                <% else %>
                  n/a
                <% end %>
  </li>
  <li>In Office:  <% if @legislator.in_office = true %>
                    Yes
                  <% else %>
                    No
                  <% end %>
  </li>
  <li>Bioguide Id: <%= @legislator.bioguide_id %></li>
  <li>Votesmart Id:   <% unless @legislator.votesmart_id == "" %>
                        <%= @legislator.votesmart_id %>
                      <% else %>
                        n/a
                      <% end %>
  </li>
</ul>

<form action="/legislator/<%= @legislator.bioguide_id %>" method="post">
  <input type="hidden" value="<%= @legislator.bioguide_id %>" name="bioguide_id">
  <button>Add to Favorites</button>
</form><br/>

<a href="/">Homepage</a><br/>