<h1>Legislator</h1>
<%="#{@legislator.firstname} #{@legislator.lastname}"%>
<p><% if @legislator.party == 'D' %>
	<%='Democratic Party'%>
<% elsif @legislator.party == 'R' %>
	<%='Republican Party'%>
<% elsif @legislator.party == 'I'%>
	<%='Independent' %>
<% else %>
	<%='Party Unknown'%>
<%end%></p>
<p>Phone: <%=@legislator.phone%></p>
<p>State: <%=@legislator.state%></p>
<p>Twitter: <%=@legislator.twitter_id%></p>
<% if @legislator.in_office%>
	<p> In Office</p>
<%else%>
	<p> Not In Office</p>
<%end%>

<p><%=@legislator.votesmart_id%></p>

<a href = '/'>Home</a>
