<h1>Legislators Search:</h1>
<% @legislators.each do |legislator| %>
  <h3><b>First Name:</b><%= legislator.firstname  %> </h3>
  <h3><b>Last Name:</b><%= legislator.lastname  %> </h3>
   <ul>
      <li> Phone:  <%= legislator.phone %></li>
      <li> Party:  <%= legislator.party %></li>
      <li> State:  <%= legislator.state %></li>
      <li> Twitter: <%= legislator.twitter_id %></li>
    <ul>
<% end %>