<ul>
    <% @faves.each do |fave| %>
    <li><%= fave.firstname %></li>
    <li><%= fave.lastname %></li>
    <li><%= fave.party %></li>
    <li><%= fave.phone %></li>
    <li><%= fave.state %></li>
    <li><%= fave.twitter_id %></li>
    <li><%= fave.in_office %></li>
    <% end %>
</ul>


<input type='hidden' value=<%= person.votesmart_id %> name="votesmart_id">
  <button>Add to favorites</button>
  </form>
  </br>
    <% end %>

    <ul>
  <% @faves.each do |fave| %>
  <li><%=
</ul>