<a href="/">Back To Home</a></br>

<p><% @legislators.each do |legislator| %></p>
Name: <%= legislator.firstname %> <%= legislator.lastname %></br>
Party: <%= legislator.party %></br>
Phone #: <%= legislator.phone %></br>
State: <%= legislator.state %></br>
Twitter ID: <%= legislator.twitter_id %></br>
Currently in Office?: <%= legislator.in_office %></br>
votesmart Id: <%= legislator.votesmart_id %>
<% end %>





