<h1>All congresspeople in zipcode <%= @zipcode %></h1>

<ul>
  <% @congresspeople.each do |person| %>
  <li><%= person.firstname %> <%= person.lastname %>
      <ul>
        <li><%= person.party %></li>
      </ul>
  </li>
  <form action="/favs/new" method="post">
    <input type="text" value="<%= person.votesmart_id %>" name="votesmart_id">
    <button>Add to favorites</button>
  </form>
    <% end %>
</ul>

